name: Build Project

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Grant Gradle Permissions
        run: chmod +x ./gradlew
      - name: Build with Gradle
        run: ./gradlew build
        with:
          cache: gradle